<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">

</head>
<link rel="stylesheet" type="text/css" href="bulletScreen.css" />
 
<link rel="stylesheet" type="text/css" href="lottery.css" />
 
<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.js"></script>

<script type="text/javascript" src="bulletScreen.js"></script>

<body>
    <div class="content"> 
    
    </div> 


    <table>
        <tr><td valign="top" width="50%">
        <p>输入 弹幕内容 和 发送昵称 后，点击发送 进行发送弹幕</p>

        </br></br>
        <form>
        
        <p>发送昵称: <input id="input_from" type="text" value="路人">
            弹幕内容: <input id="input" type="text" value="快乐!">
             <input id="input_to" type="text" value="" hidden>
            
        <button id="send">发送</button>
        </form>
        </td><td valign="top" width="50%">
        <div id="output"></div>
        </td></tr>
    </table>
   
</body>
</html>
