<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<title>快乐抽奖</title>

	<link href="./surface_lottery/css/style.css" type="text/css" rel="stylesheet" media="screen, projection">
	<link href="./surface_lottery/css/style1.css" type="text/css" rel="stylesheet" media="screen, projection">
	<link href="./surface_lottery/css/ui-dialog.css" type="text/css" rel="stylesheet" media="screen, projection">

</head>
<link rel="stylesheet" type="text/css" href="bulletScreen.css" />
<link rel="stylesheet" type="text/css" href="lottery.css" />
<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.js"></script>
<body>
    <div class="content"></div> 
    <div id="content" class="container-fluid">
	
		<!--<input type="number" placeholder="请输入房间号码,例如5279" id="input"><br />-->
		<div class="row">
			<div class="option col-lg-6 col-md-6 col-sm-6 col-xs-12">
				
			
				
				<div class="input-group">
					<span class="input-group-addon">
						<input class="v-middle" type="checkbox" checked disabled />
						<span class="v-middle">设置中奖人数：</span>
					</span>
					<input class="form-control" type="number" placeholder="请输入数字,默认为1" id="winner_amount" />
				</div>

			</div>
			<div class=" col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div>中奖名单</div>
				<div class="winner_box">
					<div class="winner_list">

					</div>
				</div>
				<button class="storage_clean btn btn-info">清空中奖名单</button>
			</div>
		</div>

		<div>
			<span style="display: inline-block; width: 49%;">中奖率：1 / 抽奖人数</span>
			<span style="display: inline-block; width: 49%;">中奖率：用户发送的弹幕数 / 总弹幕数</span>
		</div>
	</div>

	<div class="items"></div>
    <div style="font-size: 0;">
		<!--<button class="start btn btn-success green">开启普通模式</button>
		<button class="start btn btn-success darkgreen">开启刷爆模式</button>-->
		<!--<button class="end btn btn-danger">停止获取弹幕</button>-->
		<button id="boom" class="boom btn btn-info">开始抽奖</button>
		<button class="clean btn btn-info">清空弹幕和抽奖池</button>
	</div>
	<div style="font-size: 0;">
		<div class="danmaku_pool">
			<div class="danmaku_info">

			</div>
			<div class="danmaku_content">

			</div>
		</div>
		<div class="lottery_pool">
			<div class="lottery_info">

			</div>
			<div class="lottery_content">

			</div>
		</div>
	</div>
</body>

<script type="text/javascript" src="lottery.js"></script>
<script type="text/javascript" src="bulletScreen.js"></script>

<audio id="runingmic" class="hide" loop><source src="./surface_lottery/music/runing.wav"></audio>
<audio id="pausemic" class="hide"><source src="./surface_lottery/music/stop.mp3"></audio>
<script type="text/javascript" src="./surface_lottery/js/app.js"></script>
<script type="text/javascript">
 document.getElementById("boom").addEventListener("click", function (evt) {
	 	console.log("good boom2")
        var lotteryList = getlotteryList()
        initLotterySurface(lotteryList)
 });
</script>

</html>
