<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">

</head>
<link rel="stylesheet" type="text/css" href="bulletScreen.css" />
 
<link rel="stylesheet" type="text/css" href="lottery.css" />
 
<script type="text/javascript" src="http://code.jquery.com/jquery-2.0.3.js"></script>


<script type="text/javascript" src="lottery.js"></script>

<script type="text/javascript" src="bulletScreen.js"></script>


<body>
    <div class="content"> 
    
    </div> 


    <table>
        <tr><td valign="top" width="50%">
        <p>输入 弹幕内容 和 发送昵称 后，点击发送 进行发送弹幕</p>

        </br></br>
        <form>
        
        <p>发送昵称: <input id="input_from" type="text" value="路人">
            弹幕内容: <input id="input" type="text" value="快乐!">
             <input id="input_to" type="text" value="" hidden>
            
        <button id="send">发送</button>
        </form>
        </td><td valign="top" width="50%">
        <div id="output"></div>
        </td></tr>
    </table>
    <div id="content" class="container-fluid">
	
		<!--<input type="number" placeholder="请输入房间号码,例如5279" id="input"><br />-->
		<div class="row">
			<div class="option col-lg-6 col-md-6 col-sm-6 col-xs-12">
				
			
				
				<div class="input-group">
					<span class="input-group-addon">
						<input class="v-middle" type="checkbox" checked disabled />
						<span class="v-middle">设置中奖人数：</span>
					</span>
					<input class="form-control" type="number" placeholder="请输入数字,默认为1" id="winner_amount" />
				</div>

			</div>
			<div class=" col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div>中奖名单</div>
				<div class="winner_box">
					<div class="winner_list">

					</div>
				</div>
				<button class="storage_clean btn btn-info">清空中奖名单</button>
			</div>
		</div>

		<div>
			<span style="display: inline-block; width: 49%;">中奖率：1 / 抽奖人数</span>
			<span style="display: inline-block; width: 49%;">中奖率：用户发送的弹幕数 / 总弹幕数</span>
		</div>
	</div>
    <div style="font-size: 0;">
		<button class="start btn btn-success green">开启普通模式</button>
		<button class="start btn btn-success darkgreen">开启刷爆模式</button>
		<!--<button class="end btn btn-danger">停止获取弹幕</button>-->
		<button id="boom" class="boom btn btn-info">停止并黑幕一下</button>
		<button class="clean btn btn-info">清空弹幕和抽奖池</button>
	</div>
	<div style="font-size: 0;">
		<div class="danmaku_pool">
			<div class="danmaku_info">

			</div>
			<div class="danmaku_content">

			</div>
		</div>
		<div class="lottery_pool">
			<div class="lottery_info">

			</div>
			<div class="lottery_content">

			</div>
		</div>
	</div>


</body>
</html>
